[submodule "src/krys.oglutils"]
	path = src/krys.oglutils
	url = https://gitlab.com/honza.vanek/krys.oglutils.git
[submodule "src/krys.transforms"]
	path = src/krys.transforms
	url = https://gitlab.com/honza.vanek/krys.transforms.git
